window.bar {
    background-color: transparent;
    color: #F0F8FF;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: #00FFFF;
/*    color: #DC143C; */
}

button:hover {
    border-bottom: 3px solid #00FFFF;
}

label {
    font-weight: bold;
    color: #00FFFF;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: #00FFFF;
}

.notification {
    color: yellow;
}

progress,
highlight {
    min-height: 8px;
}
